<% title "All moves of #{@account.name}" %>

<table class="span-24">
  <tr>
    <th class="span-3">User</th>
    <th class="span-4">Move Type</th>
    <th class="span-2">Amount</th>
    <th class="span-2">Date</th>
    <th class="span-4">Notice</th>
    <th class="span-6">Person</th>
    <th class="span-3"><%= link_to "Add Move", add_move_alfa_path(:acc => @account) %></th>
  </tr>
  <% for move in @moves %>
    <tr>
      <td><%= move.user.username %></td>
      <td><%= move.move_type.name %></td>
      <td><%= hogwartize(move.amount) %></td>
      <td><%= format_date(move.date) %></td>
      <td><%= move.notice %></td>
      <td>
        <% if move.person_id %>
          <%= Person.find(move.person_id).whole_name %>
        <% end %>
      </td>
      <td><%= link_to image_tag("edit.png"), edit_move_path(move) %>&nbsp;&nbsp;<%= link_to image_tag("delete.png"), move, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="6"><%= will_paginate @moves %></td>
    </tr>
</table>

