<% title "Add Move 2" %>

<%= form_tag :action => 'add_move_gama', :acc => @account, :mt => @move_type do %>
  <table class="span-13">
    <tr>
      <th class="span-2">Account:</th>
      <th class="span-3"><%= "#{@account.name}" %></th>
      <th class="span-2"></th>
    </tr>
    <tr>
      <td>Move type:</td>
      <td colspan="2"><%= @move_type.name %></td>
    </tr>
    <%= render 'move_fields' %>
    <tr>
      <td colspan="3"><%= submit_tag 'Next' %></td>
    </tr>
  </table>
<% end %>
