<% title "All moves by #{current_user.username}" %>

<table class="span-20">
  <tr>
    <th class="span-3">Account</th>
    <th class="span-4">Move Type</th>
    <th class="span-1">Amount</th>
    <th class="span-2">Date</th>
<!--    <th>Loan</th>-->
    <th class="span-6">Notice</th>
    <th></th>
  </tr>
  <% for move in @moves %>
    <tr>
      <td><%= Account.find(move.account_id).name %></td>
      <td><%= MoveType.find(move.move_type_id).name %></td>
      <td><%= hogwartize(move.amount) %></td>
      <td><%= format_date(move.date) %></td>
      <!--<td><%= move.loan_id %></td>-->
      <td><%= move.notice %></td>
      <td><%= link_to image_tag("edit.png"), edit_move_path(move) %>&nbsp;&nbsp;<%= link_to image_tag("delete.png"), move, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="6"><%= will_paginate @moves %></td>
    </tr>
</table>
